<nav class="navbar taj-navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link">
                <span class="glyphicon glyphicon-phone-alt taj-navbar-default"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               ng-show="currentUser"
               href="#!/user">
                <!--href="#!/user/{{currentUser._id}}">-->
                <span class="glyphicon glyphicon-user taj-navbar-default"></span>
            </a>
        </div>
    </div>
</nav>