
<nav class="navbar taj-navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-brand pull-left">
            <a class="navbar-link">
                <span class="glyphicon glyphicon-play"></span>
            </a>

            <a class="navbar-link">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="navbar-link"
               ng-click="model.backToProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>