
    <div ng-include="'views/common/header-common.view.client.html'"></div>

    <div class="container-fluid">

        <div class="row taj-bottom-margin taj-top-margin"
             id="topPage">

            <div class="col-md-3 col-xs-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title panel-padding-left">User Details</h3>
                    </div>
                    <div class="row taj-name-margin taj-top-margin">
                        <div class = "col-xs-5">Username</div>
                        <div class="col-xs-7">{{model.user.username}}</div>
                    </div>

                    <div class="row taj-name-margin">
                        <div class = "col-xs-5">Name</div>
                        <div class="col-xs-7">{{model.user.profile.last_name}},{{model.user.profile.first_name}}</div>
                    </div>

                    <div class="row taj-name-margin">
                        <div class = "col-xs-5">Type</div>
                        <div class="col-xs-7">{{model.user.userType}}</div>
                    </div>

                    <div class="row taj-name-margin">
                        <div class = "col-xs-5">Email</div>
                        <div class="col-xs-7">{{model.user.email}}</div>
                    </div>

                    <div class="row taj-name-margin">
                        <div class = "col-xs-5">Title</div>
                        <div class="col-xs-7">{{model.user.profile.title}}</div>
                    </div>

                </div>
            </div>

            <div class="col-md-6 visible-md visible-lg">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Next Appointment
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class = "row">
                            <div class = "col-xs-5">{{model.user._appointments_future[0].doctor_name}}</div>
                            <div class="col-xs-4">{{model.user._appointments_future[0].date | date:'EEE'}}
                                {{}}
                                {{model.user._appointments_future[0].time}}
                            </div>
                            <div class="col-xs-3">
                                <!--<a ng-click="model.rescheduleAppointment(model.user._appointments_future[0]._id)"
                                   class="btn btn-default reschedule-btn">
                                    Reschedule
                                </a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default taj-top-margin">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Appointment Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            {{model.user._appointments_future[0].details}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-xs-3">
                <!--<img class="img-responsive" alt="Responsive image" src="uploads/heart-pulse.jpeg"/>-->
                <img class="img-responsive" alt="Responsive image" ng-src="{{model.user.profile.image_url}}"/>
            </div>
        </div>

        <!--<div class="taj-bottom-margin taj-top-margin">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>&lt;!&ndash; /input-group &ndash;&gt;
        </div>-->

        <div class="row taj-bottom-margin taj-top-margin"
             ng-show="model.isPatient">
            <div class="col-xs-12">
                <a class="btn btn-default btn-success btn-block"
                   role="button"
                   ng-click="model.createAppointment()">
                    Book Appointment
                </a>
            </div>
        </div>             <!--Book Appointment-->

        <div class="list-group taj-bottom-margin taj-top-margin">
            <div class="list-group-item active">
                <div class="row">
                    <!--title-->
                    <div class="col-xs-6 col-sm-5">
                        Future Appointments
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        Date
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        Time
                    </div>
                    <div class="col-xs-2">
                        <a ng-click="model.createAppointment()"
                           class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-plus white"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-repeat="appointment in model.user._appointments_future">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5">
                            {{appointment.doctor_name}}
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            {{appointment.date | date : 'shortDate'}}
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            {{appointment.time}}
                        </div>
                        <div class="col-xs-2">
                            <a   class="navbar-link pull-right">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>      <!--Future Appointment-->

        <div class="panel panel-default"
             ng-show="model.isPatient">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <h3 class="panel-title">Medical History</h3>
                    </div>
                    <div class="col-xs-4">
                        <a class="pull-right">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label>Diseases</label>
                    </div>
                    <div class="panel-body">
                        {{model.user.diseases}}
                    </div>
                </div>                    <!--Diesase-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label>Operations</label>
                    </div>
                    <div class="panel-body">
                        {{model.user.operations}}
                    </div>
                </div>                    <!--Operattions-->
            </div>
        </div>                              <!--Medical History-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <h3 class="panel-title">Education</h3>
                    </div>
                    <div class="col-xs-4">
                        <a class="pull-right">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label class ="normalLabel">Degree</label>
                    </div>
                    <div class="panel-body"
                         ng-repeat="education in model.user.educations">
                        {{education.degree}}
                        ,{{ }} {{education.school}}
                        ,{{ }} {{education.graduation_year}}
                    </div>
                </div>                      <!--Degree-->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label class ="normalLabel">Specialities</label>
                    </div>
                    <div class="panel-body"
                         ng-repeat="specialty in model.user.specialties">
                        {{specialty.description}}

                    </div>
                </div>                      <!--Specialities-->

            </div>
        </div>                              <!--Education-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <label>Biography</label>
                <a class="pull-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="panel-body">
               {{model.user.profile.bio}}
            </div>
        </div>                              <!--Bio Graphy-->

        <div class="panel panel-default"
             ng-show="!model.isPatient">
            <div class="panel-heading">
                <div class="container-fluid row">
                    <h3 class="panel-title">Reviews</h3>
                </div>
            </div>
            <div class="panel-body ">

                <ul class="list-group">
                    <div class="repater"
                         ng-repeat="rating in model.user.ratings">

                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="#">
                                        <img class="media-object review-image img-rounded img-responsive"
                                             alt="Responsive image"
                                             ng-src="{{rating.image_url}}"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">{{rating.provider}}</h5>
                                    {{rating.rating}},
                                    {{ }} {{rating.comments}}
                                </div>
                            </div>
                        </li>
                        <li class="color-white"></li>
                    </div>
                </ul>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="container-fluid row">
                            <h3 class="panel-title">Post Review</h3>
                        </div>
                    </div>
                    <div class="panel-body ">
                        <div class="write-reviews taj-bottom-margin taj-top-margin">
                            <form>
                                <div class="form-group">
                                    <label for="providerName"> Provide</label>
                                    <input class="form-control"
                                           id="providerName"
                                           name="providerName"
                                           ng-model="model.provider.name"
                                           placeholder="Your Name"/>
                                </div>
                                <div class="form-group">
                                    <label for="rating"> Rating</label>
                                    <input class="form-control"
                                           id="rating"
                                           name="rating"
                                           ng-model="model.provider.rating"
                                           placeholder="4.5/5"/>
                                </div>

                                <div class="form-group">
                                    <label for="comment">Comments</label>
                                    <textarea class="form-control"
                                              id="comment"
                                              name="comment"
                                              ng-model="model.provider.comment"
                                              rows="3"
                                              placeholder="Write something about the user."></textarea>
                                </div>
                            </form>

                            <div class="row">
                                <div class="col-xs-6">
                                    <a class="btn btn-default btn-primary btn-block"
                                       ng-click="model.postReview(model.provider)"
                                       role="button">Post
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="btn btn-default btn-danger btn-block"
                                       ng-click="model.cancel()"
                                       role="button">Cancel
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>                              <!--Reviews-->


    </div>

    <!--<nav class="navbar taj-navbar-default navbar-fixed-bottom">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-text pull-right">-->
                <!--<a class="navbar-link"-->
                   <!--ng-click="model.update(model.user)">-->
                    <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->

    <div ng-include="'views/common/footer-common.view.client.html'"></div>







