


<div ng-include="'views/common/header-common.view.client.html'"></div>


<div class="container-fluid">
    <!--<img class="fit-left-right-top" src="uploads/doctor-list-1.jpg"/>-->

    <div class="taj-bottom-margin taj-top-margin">
        <div class="input-group">
        </div><!-- /input-group -->
        <a class="btn btn-default btn-block btn-success"
           ng-click="model.searchInsurances()"
           type="button">Search Insurance
        </a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="container-fluid row">
                <h3 class="panel-title">List Of Insurance Plans - Taken</h3>
            </div>
        </div>
        <!--<div class="panel-body ">

            <ul class="list-group"
                ng-repeat="insurance in model.listInsurance">
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body">

                                <h4 class="media-heading">{{insurance.title}}</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2"><b>Insurance Plan:</b></div>
                                        <div class="col-md-9 col-lg-10">{{insurance.name}}</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2"><b>Category :</b></div>
                                        <div class="col-md-9 col-lg-10">{{insurance.category}}</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-xs-5">Delete
                                            <b>
                                                <a ng-click="model.deleteInsurance(insurance.id,insurance.planid)">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                </a>
                                            </b>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="color-white"></li>
                &lt;!&ndash;<li class="list-group-item">
                    <div class="media">
                        <div class="media-body">

                            <h4 class="media-heading">Amerihealth Regional Pref Ntwk HMO HMO POS</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2"><b>Company Provider  :</b></div>
                                        <div class="col-md-9 col-lg-10">Aethna</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2"><b>Category :</b></div>
                                        <div class="col-md-9 col-lg-10">Medical</div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-xs-5">Delete
                                            <b><span class="glyphicon glyphicon-remove-circle"></span></b>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>&ndash;&gt;
            </ul>
        </div>-->               <!--Old-->

        <div class="panel-body ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <h3 class="panel-title">Insurances</h3>
                    </div>
                    <div class="col-xs-4">
                        <!--<a class="pull-right">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>-->

                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="outerReperat">
                    <div class="panel panel-default" ng-repeat="insurance in model.insurances">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="row container-fluid">
                                    <div class="col-md-3 col-lg-2"><b>Provider Name:</b></div>
                                    <div class="col-md-9 col-lg-10">{{insurance.name}}</div>
                                </div>
                                <div class="row container-fluid">
                                    <div class="col-md-3 col-lg-2"><b>Provider Uid:</b></div>
                                    <div class="col-md-9 col-lg-10">{{insurance.uid}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body"
                             ng-repeat="plan in insurance.plans">
                            <div class="row">
                                <div class="row container-fluid">
                                    <div class="col-md-3 col-lg-2">Insurance Plan:</div>
                                    <div class="col-md-9 col-lg-10">{{plan.name}}</div>
                                </div>
                                <div class="row container-fluid">
                                    <div class="col-md-3 col-lg-2">Insurance Uid:</div>
                                    <div class="col-md-9 col-lg-10">{{plan.uid}}</div>
                                </div>
                                <div class="row container-fluid">
                                    <div class="col-md-3 col-lg-2">Insurance Category:</div>
                                    <div class="col-md-9 col-lg-10">{{plan.category}}</div>
                                </div>
                                <div class="col-md-2 col-lg-2">
                                    <a class="pull-left"
                                       ng-click="model.removeInsurance(insurance, plan)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                                <div class="white"></div>
                            </div>
                        </div>
                    </div>
                </div>                      <!--Insurances-->

            </div>
        </div>                              <!--Insurance-->
        </div>

    </div>

</div>



<div ng-include="'views/common/footer-common.view.client.html'"></div>